services:
  - type: web
    name: music-backend
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port 10000
    autoDeploy: true
    plan: free
    envVars:
      - key: PORT
        value: 10000
